[submodule "dashboard"]
	path = dashboard
	url = git@github.com:Waziup/waziup-dashboard.git
[submodule "waziup-js"]
	path = waziup-js
	url = git@github.com:Waziup/waziup-js.git
[submodule "waziup-api"]
	path = waziup-api
	url = git@github.com:Waziup/waziup-api.git
