[submodule "dashboard"]
	path = dashboard
	url = https://github.com/Waziup/waziup-dashboard
[submodule "waziup-js"]
	path = waziup-js
	url = https://github.com/Waziup/waziup-js
[submodule "waziup-api"]
	path = waziup-api
	url = https://github.com/Waziup/waziup-api
