version: '3'

services:
# Broker
  mongo:
    image: mongo:3.4
    hostname: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    healthcheck:
      test: echo 'db.stats().ok' | mongo localhost:27017/local --quiet
      interval: 5s
      timeout: 5s
      retries: 12
    command: mongod

  orion:
    image: fiware/orion:2.2.0
    hostname: orion
    entrypoint: ["sh", "-c", "rm /tmp/contextBroker.pid; /usr/bin/contextBroker -fg -multiservice -dbhost localhost -logLevel DEBUG"]
    restart: always
    network_mode: host
    depends_on:
      - "mongo"

  waziup-api:
    build: ./waziup-api
    image: waziup/waziup-api:${PLATFORM_VER}
    environment:
      - HTTP_PORT=800
      - MQTT_PORT=3883
      - HTTP_URL=${API_URL}
      - KEYCLOAK_URL=${KEYCLOAK_URL}/auth
      - ORION_URL=http://localhost:1026
      - MONGODB_URL=mongo
      - LOG_LEVEL=DEBUG
      - MOSQ_URL=mqtt
      - MOSQ_PORT=6883
      - TWITTER_CONSUMER_KEY=$TWITTER_CONSUMER_KEY
      - TWITTER_CONSUMER_SECRET=$TWITTER_CONSUMER_SECRET
      - TWITTER_ACCESS_TOKEN=$TWITTER_ACCESS_TOKEN
      - TWITTER_ACCESS_TOKEN_SECRET=$TWITTER_ACCESS_TOKEN_SECRET
      - PLIVO_ID=$PLIVO_ID
      - PLIVO_TOKEN=$PLIVO_TOKEN
      - NOTIF_MIN_INTERVAL=0
      - VPN_SERVER_URL=http://3.125.6.177:5000
    network_mode: host
    restart: always
    extra_hosts:
      - "orion:127.0.0.1"
      - "mongo:127.0.0.1"
      - "mqtt:127.0.0.1"
    depends_on:
      - orion
      - keycloak
      - mongo
      - mqtt
  
  mqtt:
    image: waziup/mosquitto
    build: ./mosquitto
    ports:
      - "6883:6883"
      - "8083:8083"

# Users identification & authorization   
  keycloak:
    build: ./keycloak
    image: waziup/keycloak:${PLATFORM_VER}
    ports:
      - "8080:8080"
    restart: always
    environment:
      - DB_VENDOR=mysql
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=${WAZIUP_ADMIN_PASS}
      - KEYCLOAK_LOGLEVEL=DEBUG
      - MYSQL_PORT_3306_TCP_ADDR=mysql
      - MYSQL_PORT_3306_TCP_PORT=3306
    volumes:
      - ./data/keycloak:/opt/jboss/keycloak/standalone/data/
    # If the realm "waziup" doesn't exists, create it from file
    #entrypoint: "/opt/jboss/tools/docker-entrypoint.sh -b 0.0.0.0 -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.strategy=IGNORE_EXISTING -Dkeycloak.migration.dir=/opt/jboss/keycloak/imports"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    hostname: mysql
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql/
    environment:
      - MYSQL_DATABASE=keycloak
      - MYSQL_USER=keycloak
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root_password

# Dashboard    
  dashboard:
    # Specific images should be built for each environment (local, staging, production).
    image: waziup/dashboard:${PLATFORM_VER}-localhost
    build:
      context: ./dashboard
      args:
        - SERVER_PORT=3000
        - SERVER_URL=${DASHBOARD_URL}
        - KEYCLOAK_URL=${KEYCLOAK_URL}/auth
        - API_SERVER_URL=${API_URL}/api
    ports:
      - "3000:3000"

