version: '3'

services:
# Broker
  mongo:
    image: mongo:3.2.8
    hostname: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    healthcheck:
      test: echo 'db.stats().ok' | mongo localhost:27017/local --quiet
      interval: 5s
      timeout: 5s
      retries: 12
    extra_hosts:
      - "localhost:127.0.0.1"

  orion:
    image: fiware/orion:2.0.0
    hostname: orion
    ports:
      - "1026:1026"
    entrypoint: ["sh", "-c", "rm /tmp/contextBroker.pid; /usr/bin/contextBroker -fg -multiservice -dbhost mongo -logLevel DEBUG"]
    restart: always
    network_mode: host
    extra_hosts:
      - "mongo:127.0.0.1"
      - "localhost:127.0.0.1"
    depends_on:
      - "mongo"

  waziup-api:
    build: ./waziup-api
    image: waziup/waziup-api
    ports:
      - "800:800"
      - "3883:3883"
    environment:
      - HTTP_PORT=800
      - MQTT_PORT=3883
      - HTTP_URL=http://localhost:800
      - KEYCLOAK_URL=http://localhost:8080/auth
      - ORION_URL=http://orion:1026
      - MONGODB_URL=mongo
      - LOG_LEVEL=debug
      - MOSQ_URL=mqtt
      - MOSQ_PORT=6883
      - WAZIUP_ADMIN_PASS=$WAZIUP_ADMIN_PASS
      - TWITTER_CONSUMER_KEY=$TWITTER_CONSUMER_KEY
      - TWITTER_CONSUMER_SECRET=$TWITTER_CONSUMER_SECRET
      - TWITTER_ACCESS_TOKEN=$TWITTER_ACCESS_TOKEN
      - TWITTER_ACCESS_TOKEN_SECRET=$TWITTER_ACCESS_TOKEN_SECRET
      - PLIVO_ID=$PLIVO_ID
      - PLIVO_TOKEN=$PLIVO_TOKEN
    network_mode: host
    restart: always
    extra_hosts:
      - "orion:127.0.0.1"
      - "mongo:127.0.0.1"
      - "mqtt:127.0.0.1"
    depends_on:
      - orion
      - keycloak
      - mongo
      - mqtt
  
  mqtt:
    image: eclipse-mosquitto
    ports:
      - "6883:6883"
    network_mode: host
    entrypoint: "/usr/sbin/mosquitto -p 6883" 


# Users identification & authorization   
  keycloak:
    build: ./keycloak
    image: waziup/keycloak
    ports:
      - "8080:8080"
    environment:
      - DB_VENDOR=mysql
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=${WAZIUP_ADMIN_PASS}
      - KEYCLOAK_LOGLEVEL=DEBUG
      - MYSQL_PORT_3306_TCP_ADDR=mysql
      - MYSQL_PORT_3306_TCP_PORT=3306
    volumes:
      - ./data/keycloak:/opt/jboss/keycloak/standalone/data/
    # If the realm "waziup" doesn't exists, create it from file
    entrypoint: "/opt/jboss/tools/docker-entrypoint.sh -b 0.0.0.0 -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.strategy=IGNORE_EXISTING -Dkeycloak.migration.dir=/opt/jboss/keycloak/imports"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    hostname: mysql
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql/
    environment:
      - MYSQL_DATABASE=keycloak
      - MYSQL_USER=keycloak
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root_password

# Dashboard    
  dashboard:
    # Specific images should be built for each environment (local, staging, production).
    image: waziup/dashboard:1.1.1-localhost
    build:
      context: ./dashboard
      args:
        - SERVER_PORT=3000
        - SERVER_URL=http://localhost:3000
        - KEYCLOAK_URL=http://localhost:8080/auth
        - API_SERVER_URL=http://localhost:800/api
    ports:
      - "3000:3000"

