{
    "swagger": "2.0",
    "info": {
        "title": "SMS API",
        "description": "Farmerline SMS API",
        "version": "1.0.0"
    },
    "host": "messaging.mergdata.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/sms/send": {
            "post": {
                "summary": "Send SMS",
                "description": "The Send SMS sends an SMS message to bulk/single recepients. The response includes the status of the Message delivery.\n",
                "parameters": [
                    {
                        "name": "sender_id",
                        "in": "query",
                        "description": "Short name to be shown as sender’s name.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "contacts",
                        "in": "query",
                        "description": "JSON array of id and phone number fields, ids will be returned to indicate successful and failed requests.",
                        "required": true,
                        "type": "string",
                        "format": "array"
                    }
                ],
                "tags": [
                    "send"
                ],
                "responses": {
                    "200": {
                        "description": "Json array of reference ids of contacts that succeeded",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SMS"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SMS": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for an SMS."
                },
                "phone": {
                    "type": "string",
                    "description": "Phone number of recepient."
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}