html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-content{
  margin-bottom:50px;
  padding-left:256px;
}
.inner-page{
  padding:0 20px;
}
.standard-row{
  border: 1px solid #000;
}
.griddle th{
  background-color:#EDEDEF;
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:5px;
}

.griddle td{
  padding:5px !important;
  background-color:#FFF !important;
  border-top: 1px solid #EDEDEF !important;
  color:#222 !important;
}
.footer-bottom {
  padding-left:256px;
  padding: 20px 0;
  border-top: 1px solid rgba(55,100,125,.3);
  margin-top:20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.waziup-logo {
  height: 40px;
}

.container{
  display:flex;
  padding-left:256px;
}
.card-container{
  display:flex;
}
.embeded{
  width:48%;
  margin-left:10px;
}
.part{
  width: 40%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
