swagger: '2.0'
info:
  version: '1.0'
  title: 'WAZIUP API'
host: waziup.io
basePath: /api/v1
tags: 
  - name: apps
    description: Applications API
  - name: data
    description: data management API
  - name: gateways
    description: gateway management API

paths:
# Apps API
  /apps:
    get:
      tags: [apps]
      responses:
        200:
          schema:
            items:
              $ref: ! '#/definitions/App'
            type: array
          description: 'get list of all apps'
      produces:
      - application/json
    post:
      tags: [apps]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        204:
          description: 'Create an app'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/AppCreateRequest'
        in: body
        name: body
  /apps/{id}:
    get:
      tags: [apps]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/App'
          description: 'Get details of one application'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    post:
      tags: [apps]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        204:
          description: 'Update details of app'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/AppUpdateRequest'
        in: body
        name: body
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    put:
      tags: [apps]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        204:
          description: 'Actions on apps (deploy, run, scale...)'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/AppActionRequest'
        in: body
        name: body
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    delete:
      tags: [apps]
      responses:
        404:
          description: ! '`id` not found'
        204:
          description: 'remove one application'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
  /apps/{id}/containers:
    get:
      tags: [apps]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/Process'
            type: array
          description: 'Get containers of app'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer



# Data API
  /data/observations:
    get:
      tags: [data]
      responses:
        200:
          schema:
            items:
              $ref: ! '#/definitions/Observation'
            type: array
          description: 'get list of all observations'
      produces:
      - application/json
    post:
      tags: [data]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        204:
          description: 'Observation created'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/Observation'
        in: body
        name: body
  /data/observations/{id}:
    get:
      tags: [data]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/Observation'
          description: 'Get details of an observation'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
  /data/subscriptions:
    get:
      tags: [data]
      responses:
        200:
          schema:
            items:
              $ref: ! '#/definitions/SubscribeResponse'
            type: array
          description: 'get list of all subscriptions'
      produces:
      - application/json
    post:
      tags: [data]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        200:
          description: 'Subscribed on a stream'
          schema:
            $ref: ! '#/definitions/SubscribeResponse'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/SubscriptionRequest'
        in: body
        name: body
  /data/subscriptions/{id}:
    get:
      tags: [data]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/SubscribeResponse'
          description: 'Get details of a subscription'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    delete:
      tags: [data]
      responses:
        404:
          description: ! '`id` not found'
        204:
          description: 'subscription removed'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer

#Gateways API
  /gateways:
    get:
      tags: [gateways]
      responses:
        200:
          schema:
            items:
              $ref: ! '#/definitions/Gateway'
            type: array
          description: 'get list of all gateways'
      produces:
      - application/json
    post:
      tags: [gateways]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        201:
          schema:
            $ref: ! '#/definitions/Gateway'
          description: 'Create a gateway'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/Gateway'
        in: body
        name: body
  /gateways/{id}:
    get:
      tags: [gateways]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/Gateway'
          description: 'Get details of a gateway'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    put:
      tags: [gateways]
      consumes:
      - application/json
      responses:
        400:
          description: Invalid `body`
        204:
          description: 'Actions on gateways'
      produces:
      - application/json
      parameters:
      - required: true
        schema:
          $ref: ! '#/definitions/GatewayAction'
        in: body
        name: body
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
    delete:
      tags: [gateways]
      responses:
        404:
          description: ! '`id` not found'
        204:
          description: 'remove one gateway'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer
  /gateways/{id}/devices:
    get:
      tags: [gateways]
      responses:
        404:
          description: ! '`id` not found'
        200:
          schema:
            $ref: ! '#/definitions/Device'
            type: array
          description: 'Get devices of a gateway'
      produces:
      - application/json
      parameters:
      - minimum: 0
        required: true
        in: path
        name: id
        type: integer


# Data structure definitions:
definitions:
  App:
    required:
      - Created
      - ID
      - Owner
      - Updated
      - URL
      - UUID
    type: object
    properties:
      Created:
        type: string
      ID:
        type: string
      Owner:
        type: string
      Updated:
        type: string
      URL:
        type: string
      UUID:
        type: string

  AppCreateRequest:
    required:
      - ID
    type: object
    properties:
      ID:
        type: string

  AppUpdateRequest:
    required:
      - Owner
    type: object
    properties:
      Owner:
        type: string

  AppActionRequest:
    required:
      - Command
    type: object
    properties:
      Command:
        type: string

  AppActionResponse:
    required:
      - Output
      - ReturnCode
    type: object
    properties:
      Output:
        type: string
      ReturnCode:
        type: string

  Process:
    required:
      - Owner
      - App
      - Release
      - Created
      - Updated
      - UUID
      - Type
      - Num
      - State
    type: object
    properties:
      Owner:
        type: string
      App:
        type: string
      Release:
        type: string
      Created:
        type: string
      Updated:
        type: string
      UUID:
        type: string
      Type:
        type: string
      Num:
        type: integer
      State:
        type: string

  Gateway:
    required:
      - gatewayName
    type: object
    properties:
      gatewayName:
        type: string

  GatewayAction:
    required:
      - gatewayAction
    type: object
    properties:
      gatewayAction:
        type: string

  Container:
    required:
      - containerName
    type: object
    properties:
      containerName:
        type: string

  Device:
    required:
      - sensorName
    type: object
    properties:
      sensorName:
        type: string

  Entity:
    type: object
    properties:
      type:
        type: string
        example: "Room"
      isPattern:
        type: string
        example: "false"
      id:
        type: string
        example: "Room1"

  SubscriptionRequest:
    type: object
    properties:
      entities:
        type: array
        items:
          $ref: ! '#/definitions/Entity'
          type: object
      attributes:
        type: array
        items:
          type: string
          example: "temperature"
      reference:
        type: string
        example: "http://waziup.io/api/v1/subscriptions"
      duration:
        type: string
        example: "P1M"
      notifyConditions:
        type: array
        items:
          $ref: ! '#/definitions/NotifyCondition'
          type: object
    required:
    - entities
    - attributes
    - reference
    - duration
    - notifyConditions

  SubscribeResponse:
    type: object
    properties:
      duration:
        type: string
        example: "P1M"
      subscriptionId:
        type: string
        example: "552f7481983d79a38fbd5a74"
    required:
    - subscribeResponse

  NotifyCondition:
    type: object
    properties:
      type:
        type: string
        example: "ONTIMEINTERVAL"
        enum:
        - ONTIMEINTERVAL
        - ONCHANGE
      condValues:
        type: array
        items:
          type: string
          example: "PT10S"

  Observation:
    type: object
    properties:
      id:
        type: string
        example: "TemperatureSensor1"
      type:
        type: string
        example: "SensingDevice"
      measure:
        type: object
        $ref: ! '#/definitions/Measure'
      location:
        type: object
        $ref: ! '#/definitions/Location'
      platform:
        type: string
        example: "UGB Field"

  Measure:
    type: object
    properties:
      value:
        type: number
        example: 27
        format: float
      metadata:
        type: object
        $ref: ! '#/definitions/MeasureMetadata'

  MeasureMetadata:
    type: object
    properties:
      unit:
        type: string
        example: "Celcius"
      timestamp:
        type: string
        example: "2016-06-08T18:20:27.873Z"
        format: dateTime

  Location:
    type: object
    description: Geometry as in GeoJSON.
    externalDocs:
      url: http://geojson.org/geojson-spec.html#geometry-objects
    properties:
      type:
        type: string
        enum:
        - MultiPolygon
        - Point
        example: "Point"
      coordinates:
        type: array
        example: "[[14.52839, 35.89389]]"
        items:
          type: array
          items:
            type: number

  StatusCode:
    type: object
    properties:
      code:
        type: number
        example: 200
      reasonPhrase:
        type: string
